@font-face {
  font-family: Anonymice;
  src: url(./AnonymiceProNerdFont-Regular.ttf);
}
html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(99,99,99) rgb(00,00,00);
}
body {
  font-family: Anonymice;
  font-size: 2lvh;
  color: rgb(99,99,99);
  background: rgb(00,00,00);
  padding: 1.25lvh 5lvw;
  margin: 0;
  image-rendering: pixelated;
}
a {
  color:rgb(133,133,200);
  &:hover { color: rgb(255,255,255); }
}
h1 {
  padding:0;
  margin:0;
  line-height: 0.9;
  letter-spacing: -5px;
  text-align: center;
  background: rgb(0,0,0);
  white-space-collapse: preserve;
}
h2 {
  line-height: 0.7;
  letter-spacing: -2px;
  text-align: center;
  padding: 0;
  margin: 0;
}
img {
  max-height: 1024px;
  max-width: 1024px;
  mix-blend-mode: multiply;
  padding:0;
  margin:0;
}
.pictureframe {
  display: inline-block;
  background: url('./eigengrau.svg');
  padding:0;
  margin:0;
  height:100%;
  width: auto;
  max-height: 1024px;
  max-width: 1024px;
  line-height:0;
}
.small {
  background: url('./eigengraulow.svg');
}
.light {
  background: url('./eigengraulight.svg');
}
details {
  text-align:right;
  & > image {
    display: inline;
  }
}
.blink {
  display: inline;
  margin:0;
  padding:0;
  animation: blinker 0.93s step-start infinite;
  color:rgb(255,255,255);
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.ui {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.map {
  display: flex;
  flex-flow: column;
  text-align: center;
  max-width: 25%;
  h1, h2, h3 {
    padding:0;
    margin:0;
    white-space-collapse: preserve;
  }
}
.key {
  text-align: left;
  line-height: 0.9;
  letter-spacing: -1px;
}
.asciiart {
  min-width:75%;
}
.dbox {
  position:relative;
  width:512px;
  max-width:90%;
  height:64px;
  margin:0;
  padding:0;
}
.pbox {
  display:flex;
  flex-flow:column;
}
.qbox {
  font-size:4lvh;
}
.dialog {
  background: rgb(0,0,0);
  list-style: none;
  overflow: clip;
  position: absolute;
  inset: 0px;
  &:hover { cursor:help; }
}

.urhere {
  color: rgb(255,255,255);
}
.fow {
  color: rgb(33,33,33);
}

@media screen and (orientation:portrait) {
  h1, h2, h3 {
    font-size: 6.7vw;
  }
  .ui {
    flex-flow:column;
  }
  .map {
    max-width:90%;
    h1, h2, h3 {
      font-size:5vw;
    }
  }
  img {
    max-width:100%;
  }
  .pictureframe {
    max-width:90%;
  }
  body {
    padding:1.25lvh 1.25lvh;
  }
}
